<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue start</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    
    <h2>Google Chart Example</h2>
    <h3>Poll: Lunch</h3>
    <div id="chart_div" style="height: 500px;"></div>
    <div id="app">
        <li v-for="(item, c) in dataArray" v-if="c > 0">
            {{item[0]}} : {{ item[1] }}
            <button @click="addOne(c)" v-if="!voted">vote</button>
        </li>
    </div>

    <script>
        var orgdata = [
				['종류', '개수'],
				['도시락', 3], ['갈비탕', 4], [ '오므라이스', 5],
				['짬뽕', 1], ['비빔밥', 3], [ '메밀소바', 1]
			 ];

        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {
            var data = google.visualization.arrayToDataTable(orgdata);
            var options = {title: 'prefered lunch', is3D: true};
            var chart = new google.visualization.PieChart(
                document.getElementById('chart_div'));
            chart.draw(data, options)
        }

        new Vue({
            el: '#app',
            data: {
                dataArray: orgdata,
                voted: false
            },
            methods: {
                addOne: function(c){
                    var obj = this.dataArray[c];
                    obj[1]++;
                    this.dataArray.splice(c, 1, obj)
                    drawBasic()
                    this.voted = true
                }
            }
        })

    </script>
</body>
</html>