<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue start</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <label><input type="checkbox" v-model="isOk">change</label>
        <transition>
            <p v-if="isOk">show/hide animation</p>
        </transition>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                isOk: false
            },

        })
    </script>

    <style>
        .v-enter-active, .v-leave-active {
            transition: 1s;
        }
        .v-enter, .v-leave-to {
            opacity: 0;
            transform: translateY(20px);
        }
    </style>
</body>
</html>