<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue start</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
       <input v-model="findWord">
       <ul>
           <li v-for="item in findItems">{{item}}</li>
       </ul> 
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                findWord: '',
                items: ['설악산','한라산','북한산','백두산','지리산']
            },
            computed: {
                findItems: function(){
                    if(this.findWord){
                        return this.items.filter(function(value){
                            return (value.indexOf(this.findWord) > -1)
                        }, this)

                    } else {
                        return this.items;
                    }
                }
            }
        })
    </script>
</body>
</html>