<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue start</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h2>To Do List</h2>
    <div id="app">
        <input type="text" v-model="toDo" @keyup.enter="addItem">
        <div v-for="item in toDoList">
            <label>
        <input type="checkbox" v-model="item.done">
            <span :class="{strikethrough:item.done}">{{ item.thing }}</span>
        </label>

        </div>
        <p>{{completedCount}}/{{totalCount}}</p>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                toDo: '',
                toDoList: [{
                    done: false,
                    thing: 'coffe'
                }, {
                    done: false,
                    thing: 'book'
                }],
            },
            methods: {
                addItem: function() {
                    this.toDoList.push({
                        done: false,
                        thing: this.toDo
                    });
                    this.toDo = ''
                }
            },
            computed: {
                completedCount: function() {
                    return this.toDoList.filter(function(val) {
                        return val.done == true;
                    }).length;
                },
                totalCount: function() {
                    return this.toDoList.length
                }
            }
        })
    </script>
    <style>
        .strikethrough {
            text-decoration: line-through;
            color: lightgray;
        }
    </style>
</body>

</html>