<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue start</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="toDo" @keyup.enter="addItem">
        <transition-group>
            <li v-for="item in toDoList" :key="item" v-if="!isDone">
                <label>
                <input type="checkbox" v-model="done"
                :class="isDone"
                :key="item"
                >{{ item }}</label>
            </li>
        </transition-group>
        <p>{{completedCount}}/{{totalCount}}</p>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                toDo: '',
                toDoList: [],
                done: false,
                completedList: [],
                isDone: '',
            },
            methods: {
                addItem: function() {
                    this.toDoList.push(this.toDo);
                    this.toDo = ''
                }
            },
            computed: {
                completedCount: function() {
                    return this.completedList.length
                },
                totalCount: function() {
                    return this.toDoList.length + this.completedList.length
                }
            },
            watch: {
                done() {
                    if (this.done) {
                        this.isDone = true;

                    }
                }
            }
        })
    </script>
</body>

</html>