<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue start</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="toDo">
        <transition-group>
            <label v-for="item in toDoList" 
            :key="item">
            <input type="checkbox" v-model="done"
            :class="isDone"
            @keyup.enter="addItem">{{ item }}</label>
        </transition-group>
        <p>{{completedCount}}/{{totalCount}}</p>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                toDo: '',
                toDoList: [],
                done: false,
                completedList: []
            },
            methods: {
                addItem: function(){
                    this.toDoList.push(this.toDo);
                }
            },
            computed: {
                completedCount: function(){
                    return completedList.length
                },
                totalCount: function(){
                    return toDoList.length + completedList.length
                }
            }
        })
    </script>
</body>
</html>